* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: #fff;
    border-radius: 3vh;
}

::-webkit-scrollbar-thumb {
    background-color: #333;
    border-radius: 3vh;
}


body {
    background-color: #222;
    color: black;
    font-family: sans-serif;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 0;
}


h1 {
    display: flex;
    border-bottom: black;
    text-decoration-color: #888;
    font-size: 3em;
    font-weight: normal;
}

.title {
    margin-top: 10vh;
    padding: 7vh;
    color: white;
    display: flex;
}

.title h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 5vh;
}

.title h1.eme {
    font-size: 3vh;
}

div.main {
    display: grid;
    grid-template-columns: repeat(3, 4fr);
    grid-template-rows: repeat(3, 4fr);
    grid-gap: 7vw;
    width: calc(100% - 14vw);
    padding-bottom: 10vh;
    justify-content: center;
}


a.button {
    text-decoration: none;
    text-align: center;
    padding: 2em;
    color: #fff;
    background-color: #444;
    transition: 0.4s all;
    border-radius: 1vh;
}

a.button:hover {
    color: black;
    background-color: rgb(194, 194, 194);
    box-shadow: 0 0 5vh #fff;
}

/*Start footer*/

footer {
    display: flex;
    align-items: end;
    flex: 1;
    width: 100%;
    position: fixed;
    bottom: 0;
    right: 0;
}

footer p {
    background: #999;
    width: 100%;
    margin: 0;
    padding: 1em;
    text-align: center;
    position: absolute;
    bottom: 0;
    right: 0;
}

footer p:after {
    content: "";
    background: black;
    height: 2px;
    width: 33%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    right: 0;
}

/*End footer*/